

<div class="container-fluid">

  <div class="col-md-12" style="background-color: #ced8e1">

    <h4>Lo mejor de Gmail estés donde estés</h4>
    <hr style="margin-top: 0px; border-top: 1px solid #235589">

    <strong>Brahian Giraldo</strong>
    <br>
    <div style="max-width: 90%; float: left">
      <small>Para Pedro, Pablo, Camilo, Mateo</small>
    </div>
    <div style="margin-left: 5px; max-width: 1%; float: left">
      <button type="button" class="btn btn-default btn-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-content="De: Brahian Giraldo" >
        <span class="caret"></span>
      </button>
    </div>

  </div>


</div>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
